<div class="login-container">
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
      <mat-card class='p-5'>
        <h2 class="text-center">
          Login to your To-Do account
        </h2>
        <div class="form-container my-5">
          <form #f='ngForm' (ngSubmit)='onSubmit(login)'>
            <mat-form-field class="full-width">
              <mat-label>Email address</mat-label>
              <input matInput type="email" [(ngModel)]='login.email' name='email' required email>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" [(ngModel)]='login.password' name='password' required>
            </mat-form-field>
            <div class='text-center'>
              <button mat-button type='submit' class='px-5' [disabled]='f.invalid || loading'>
                Login
              </button>
            </div>
          </form>
        </div>
        <div class="error-container text-center text-danger" *ngIf='errorMessage'>
          {{ errorMessage }}
        </div>
        <hr>
        <div class="text-center">
          <a routerLink="/forgot-password">
            <h5>
              Forgot your password?
            </h5>
          </a>
          <a routerLink="/register">
            <h5>
              Not registered yet? Create an account
            </h5>
          </a>
        </div>
      </mat-card>
    </div>
  </div>
</div>