<mat-toolbar>
  <span id='app-title' routerLink='/'>To Do</span>
  <span class="spacer"></span>
  <ng-container *ngFor='let link of links$ | async'>
    <button mat-button [routerLink]='link.path'>
      {{ link.label }}
    </button>
  </ng-container>
  <ng-container *ngIf='user$ | async'>
    <button mat-icon-button (click)='onLogout()' matTooltip='Logout'>
      <mat-icon>
        exit_to_app
      </mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>