<div class="row landing-container">
  <div class="brand-container col-12">
    <div class="text-container">
      <mat-card class='p-5'>
        <h1 class='mb-3'>
          Manage your tasks
        </h1>
        <h3>Start managing your lists of tasks to make sure you don't miss a thing!</h3>
      </mat-card>
    </div>
  </div>
  <div class="col-12">
    <div class="row features-container">
      <div class="col-6">
        <!-- <mat-card> -->
        <h2>Create lists</h2>
        <mat-icon>
          bookmark
        </mat-icon>
        <h4>Create different lists to manage your tasks</h4>
        <!-- </mat-card> -->
      </div>
      <div class="col-6">
        <!-- <mat-card> -->
        <h2>Create notes</h2>
        <mat-icon>
          assignment
        </mat-icon>
        <h4>Save notes and change their status to keep a track on your pending items</h4>
        <!-- </mat-card> -->
      </div>
    </div>
  </div>
  <div class="register-container col-12">
    <h3>What are you waiting for?</h3>
    <h4>Start organizing your tasks today and have better results every day</h4>
    <button mat-button routerLink='register'>
      Register now
    </button>
  </div>
</div>