<div class="row my-2">
  <ng-container *ngIf='loading'>
    <div class="col-12">
      <mat-spinner class='mx-auto' diameter='35'></mat-spinner>
    </div>
  </ng-container>
  <ul class="list-unstyled pl-4">
    <li class='pt-3'>
      <a class='name py-2' routerLink='/' (click)='onSelectList({name:"all"})'>
        <h4>All notes</h4>
      </a>
    </li>
    <ng-container *ngIf='all$ | async as all;else isLoading'>
      <li *ngFor='let object of all' class='pt-3'>
        <a class='name d-inline-block pr-5 py-2' routerLink='/' (click)='onSelectList(object)'>
          <h4>{{ object.name }}</h4>
        </a>
        <button mat-icon-button class='delete float-right' (click)='onDelete(object)'>
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ng-container>
    <ng-template #isLoading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </ul>
</div>