<div class="error-container" *ngIf='errorMessage'>
  {{errorMessage}}
</div>
<div class="form-container my-2">
  <form #f='ngForm' (ngSubmit)='onSubmit(object)'>
    <mat-form-field class="full-width">
      <mat-label>List name</mat-label>
      <input matInput type="text" [(ngModel)]='object.name' name='name' required  autocomplete="off">
    </mat-form-field>
    <button mat-button type='submit'>
      Add
    </button>
    <button mat-button type='button' (click)='onBack()'>
      Cancel
    </button>
  </form>
</div>