<mat-card color='accent'>
  <mat-card-header>
    <mat-card-title>
      {{ collectionName | capitalize }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr>
    <ng-container *ngIf='action$ | async as action'>
      <button mat-button (click)='action === "list" ? onAdd():onBack()' class='mb-3'>
        <mat-icon>assignment</mat-icon>
        {{ action === "list" ? "New note" : "Back" }}
      </button>
      <ng-container [ngSwitch]='action'>
        <ng-container *ngSwitchCase='"list"'>
          <app-list></app-list>
        </ng-container>
        <ng-container *ngSwitchCase='"add"'>
          <app-add></app-add>
        </ng-container>
        <ng-container *ngSwitchCase='"update"'>
          <app-update [object]='object$ | async'></app-update>
        </ng-container>
        <ng-container *ngSwitchCase='"remove"'>
          <app-delete [object]='object$ | async'></app-delete>
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>