<mat-card color='accent'>
  <mat-card-header>
    <mat-card-title>
      Lists
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf='action$ | async as action'>
      <button mat-button (click)='action === "list" ? onAdd():onBack()' class='my-2'>
        {{ action === "list" ? "Add list" : "Back" }}
      </button>
      <ng-container [ngSwitch]='action'>
        <ng-container *ngSwitchCase='"list"'>
          <app-list [lists]='lists$ | async'></app-list>
        </ng-container>
        <ng-container *ngSwitchCase='"add"'>
          <app-add></app-add>
        </ng-container>
        <ng-container *ngSwitchCase='"update"' >
          <app-update [list]='list$ | async'></app-update>
        </ng-container>
        <ng-container *ngSwitchCase='"delete"'>
          <app-delete [list]='list$ | async'></app-delete>
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>