<mat-card color='accent'>
  <mat-card-header>
    <mat-card-title>
      {{ collectionName | capitalize}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr>
    <ng-container *ngIf='action$ | async as action'>
      <ng-container *ngIf='action === "list";else onBackButton'>
        <button mat-button (click)='onAdd()' class='mb-3 action'>
          <mat-icon>bookmar</mat-icon>New list
        </button>
      </ng-container>
      <ng-template #onBackButton>
        <button mat-button (click)='onBack()' class='mb-3 action'>
          <mat-icon>backspace</mat-icon>Back
        </button>
      </ng-template>
      <ng-container [ngSwitch]='action'>
        <ng-container *ngSwitchCase='"list"'>
          <app-list></app-list>
        </ng-container>
        <ng-container *ngSwitchCase='"add"'>
          <app-add></app-add>
        </ng-container>
        <ng-container *ngSwitchCase='"update"'>
          <app-update></app-update>
        </ng-container>
        <ng-container *ngSwitchCase='"remove"'>
          <app-delete></app-delete>
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>